@import "tailwindcss";







:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (min-width: 768px) {
  #flash-sale-slider {
    scrollbar-width: none; /* Firefox */
  }
  #flash-sale-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@media (min-width: 545px) and (max-width: 763px) {
  .grid-check {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

